{% extends 'blog/base.html' %}

{% load static %}

{% block css_edit %}
<link rel="stylesheet" href="{% static 'blog/css/index.css' %}">
{% endblock %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <div class="content">
        <div class="hi">
            <h6>Начинающий Python-разработчик с большим будущим.</h6>
        </div>

        <div class="avatar">
            <div class="avatar_blog">
                    <h1>Привет!</h1>
                    <p>Меня зовут Илья, мне 21 год. Я начинающий Python-разработчик!</p>
                    <p>В этом блоге вы узнаете немного обо мне.</p>
                    <p>Я изучаю язык Python, фреймворк Django.
                        А так же, языки разметки HTML и CSS.
                        Так же я хочу изучить язык JavaScript и активно
                        работаю над этим.
                    </p>
                    <h3>Спускайся ниже, узнаешь еще немного обо мне!</h3>
            </div>
        </div>
        <div class="razmetka">◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡</div>
        <div class="biog">
            <div class="about">
                <h2>Расскажу о себе:</h2>
                <p>Меня зовут Илья. Мне 21 год. Я родился в небольшом городе Славгороде, Могилевской области.
                    Я окончил школу в 2018 году и переехал жить и учиться на водителя в Могилев.
                    После учебы, работал водителем и возил продукты по Могилеву и области, так я работал
                    примерно 1.5 года. Потом я решил пересесть на более маленький автомобиль, пошел работать в такси.
                    С самого детства, мне нравились большие города, именно поэтому, я захотел
                    переехать в Минск, что и сделал в конце 2021 года. В Минске я так же работал в такси,
                    попробовал себя немного в продажах, но в скорем времени все так же вернулся в службу Яндекс.Такси.
                    Летом 2022 года я устроился работать на склад 21vek, где познакомился с разными людьми, а
                    так же заинтересовался программированием, из-за того, что на складе
                    тестировали новую систему. Начал искать информацию в интернете, какой язык лучше выбрать, сколько на это нужно
                    времени и сил. Остановился на языках JavaScript и Python, но второй мне понравился больше.
                    Примерно месяц я обучался, учился чему-то новому в интернете, но понял, что мне
                    не хватает времени и мотивации. Решил найти курсы, после не долгих поисков
                    я наткнулся на курсы компании IT OVERONE, изучив информацию, записался на бесплатное занятие, а затем
                    начал изучать язык Python, фреймворк Django, а так же верстку.</p>
                    <p>В своем ближайщем будущем, я вижу себя как веб-разработчик и профессионал своего дела. Ведь программирование
                        это интересно.
                    </p>
            </div>
        </div>
    </div>
{% endblock %}
